<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <center>
        <h1>Image Uploading Form</h1>
        <form action="{% url 'imageupload' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <table>
            <tr>
                <td> Image Name </td>
                <td><input type='text' name="imgname"></td>  
           </tr>
           <tr>
        
        I <td> Upload Image </td>
          <td><input type='file' name="image" id="image"></td>
        
        </tr>
        <tr>
            <td>
                <input type="submit" value="Upload">
        
            <td>
        </tr>
        </table>
        </form>
        </center>
      </body>
      </html>